ragas==0.1.21
datasets==5.0.0
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-openai==0.1.7
langchain-text-splitters==0.0.2
openai==1.109.1
chromadb==1.5.9
pypdf==6.6.0
python-dotenv==1.2.2
pandas==2.3.3
numpy==1.26.4